body{
    box-sizing: border-box;
}
#page-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #303030;
}
#page-title {
    color: #5AF;
    font-family: cursive, 'Leckerli One';
    font-size: 50px;
    font-weight: bolder;
    margin: 30px;

}

#movie-list-box{
    width:80vw;
    border-radius: 20px;
    border: 4px solid rgba(0, 0, 0 , 0.5);
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    overflow: hidden;
    background-color: white;
    color: black;
}
td a {
    color: #1566bf;
}

#movie_table_header {
    background: #ADD8E6;
    color: #222222;
}
